@charset "UTF-8";
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


ol {
    list-style-type: disc;
}

/* шапка */
.wrapper {
}
.container {

}
.wrapper__row {
    display: flex;

}
.name {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    margin-left: 250px;
    margin-top: 37px;
}


.body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
.text {
    display: flex;
    margin-left: 35px;
    margin-right: 120px;
    margin-top: 32px;
    flex-direction: row;
}
.text__adress {
    flex-grow: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1C2128;
    margin-right: 60px;
    flex-basis: 100px;
}
.text__time {
    max-width: 148px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #676767;

}
.text__noomber {
    margin-left: 150px;
    margin-top: -5px;
}
.noomber {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1d1a1a;
    font-style: bold;
}
.renoomber {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1d1a1a;
}

/* меню */

.main__menu {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-style: medium;
    margin: 23px 740px 0 522px;
}

.menu__row {
}
.menu__1 {
}
.menu__2 {
}
.menu__3 {
}
a {
    text-decoration: none;
    color: #1C2128;

}
a:hover {
    color: #F1524F;
}
a:last-child {
    margin-left: 38px;

}
a:first-child{
    margin-right: 38px;
}
/* основная инфа */

.info {

}
.info__row {
    display: flex;
}

.plomb {
    flex: 0 0 auto;

}

.list li:last-child {
    margin-bottom: 321px;
}
.plomb__main {
    font-family: 'Oswald', sans-serif;
    max-width: 605px;
    font-style: 900;
    font-size: 64px;
    line-height: 95px;
    margin-top: 61px;
    margin-left: 260px;
    text-transform: uppercase;
    flex: 1 1 auto;
}
.list {
    font-family: 'Montserrat', sans-serif;
    color: #1C2128;
    margin-left: 281px;
    font-size: 24px;
    line-height: 29px;


}
.list li {
    padding-top: 13px;
    color: #676767;
}


.rhomb {
    position: relative;
    flex: 1 1 auto;

}

.rhombus__1 {


}
.img1__rhombus {
    position: absolute;
    max-width: 160px;
    max-height: 120px;
    margin: 0 320px;
    z-index:100 ;
    

}
.rhombuss__1 {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    left:320px;
    top: 50px;
    z-index: 5;

}
.rhombusss__1 {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    top: 90px;
    left: 320px;
    filter: drop-shadow(1px 5px 1px rgba(241, 82, 79, 1));
    -webkit-filter: drop-shadow(1px 5px 7px rgba(241, 82, 79, 1));
    z-index: 1;

}
.rhombus__2 {
}
.img2__rhombus {
    max-width: 160px;
    max-height: 120px;
    position: relative;
    top: 100px;
    left: 40px;
    z-index: 100;
}
.rhombuss__2 {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    left:35px;
    top: 140px;
    z-index: 5;

}
.rhombusss__2 {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    top: 180px;
    left: 35px;
    filter: drop-shadow(1px 5px 1px rgba(137, 218, 251, 1));
    -webkit-filter: drop-shadow(1px 5px 7px rgba(137, 218, 251, 1));
    z-index: 1;

}
.rhombus__3 {
}
.img3__rhombus {
    max-width: 160px;
    max-height: 120px;
    position: absolute;
    margin: 0 0 0 270px;
    z-index:100;
}
.rhombuss__3 {
    position: absolute;
    z-index:5;
    width: 0;
    height: 0;
    border-bottom: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    left:300px;
    top: 160px;
}
.rhombusss__3 {
    position: absolute;
    z-index:1;
    width: 0;
    height: 0;
    border-top: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    top: 200px;
    left: 300px;
    filter: drop-shadow(1px 5px 1px rgba(137, 218, 251, 1));
    -webkit-filter: drop-shadow(1px 5px 7px rgba(137, 218, 251, 1));
}
.rhombus__4 {
}
.img4__rhombus {
    max-width: 160px;
    max-height: 120px;
    position: relative;
    top: 160px;
    left: 70px;

    z-index:100;
}
.rhombuss__4 {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    left:70px;
    top: 340px;
    z-index: 5;
}
.rhombusss__4 {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    top: 380px;
    left: 70px;
    filter: drop-shadow(1px 5px 1px rgba(237, 105, 32, 1));
    -webkit-filter: drop-shadow(1px 5px 7px rgba(237, 105, 32, 1));
    z-index: 1;

}
.rhombus__5 {
}
.img5__rhombus {
    max-width: 160px;
    max-height: 120px;
    position: absolute;
    margin: 40px 0 0px 370px;
    z-index:100;
}
.rhombuss__5{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    left:375px;
    top: 355px;
    z-index: 5;
}
.rhombusss__5 {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    top: 395px;
    left: 375px;
    filter: drop-shadow(1px 5px 1px rgba(241, 82, 79, 1));
    -webkit-filter: drop-shadow(1px 5px 7px rgba(241, 82, 79, 1));
    z-index: 1;

}
.rhombus__6 {
}
.img6__rhombus {
    max-width: 160px;
    max-height: 120px;
    position: absolute;
    margin: 230px 0 0px 370px;
    z-index:100;
}
.rhombuss__6{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    left:370px;
    top: 510px;
    z-index: 5;
}
.rhombusss__6{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid #ffffff;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    top: 550px;
    left: 370px;
    filter: drop-shadow(1px 5px 1px rgba(237, 105, 32, 1));
    -webkit-filter: drop-shadow(1px 5px 7px rgba(237, 105, 32, 1));
    z-index: 1;

}

/* описание */

.description {
    max-width: 1020px;
    margin-left: 311px;
    margin-right: 210px;
    font-family: 'Montserrat', sans-serif;
}
.description__block {
    width: 27px;
    height: 4px;
    background-color: #60B7D9 ;
    border-radius: 2px;
    margin-bottom: 7px;
}
.description__text {
    font-size: 22px;
    line-height: 34px;
    vertical-align: top;
}


/* товары */

.column__product1 {
}
.container {
    max-width: 1470px;
}
.column__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__one {
    margin-left: 250px;
    margin-top: 100px;
    position: relative;
}
.column__text {
    width: 370px;
    padding: 270px 25px 29px 25px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Montserrat' sans-serif;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 0px 10px 9px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 9px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 9px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 1s ease-in-out 0.5s;
    position: relative;
    z-index: 5;
    bottom: 240px;
    text-align: center;
}
.image__one {
    width: 370px;
    height: 240px;
    position: relative;
    z-index: 100;
}



.column__text:hover {
    -webkit-box-shadow: 9px 9px 10px 2px rgba(137, 218, 251, 0.64);
    -moz-box-shadow: 9px 9px 10px 2px rgba(137, 218, 251, 0.64);
    box-shadow: 9px 9px 10px 2px rgba(137, 218, 251, 0.64);
}
.product__two {
    margin-top: 100px;
}
.product__three {
    margin-top: 100px;
}
.product__four {
    margin-left: 245px;
    margin-top: -180px;
}
.product__five {
    margin-top: -180px;
}
.product__six {
    margin-top: -180px;
}
.product__seven {
    margin-top: -180px;
    margin-left: 680px;
}


/* статистика */
.statistics {
    font-family:'Montserrat' sans-serif;
    margin-left: 235px;
}
.container {

}
.statistics__row {
    display: flex;
    justify-content: space-around;
    max-width: 1250px;
}
.statistics__first {

}
.date__one {
    font-size: 100px;
    line-height: 117px;
    color: #60B7D9;
    text-align: center;
}
.text__one {
    font-size: 24px;
    line-height: 29px;
    font-style: medium;
    color: #60B7D9;
    max-width: 220px;
    text-align: center;
}
.statistics__two {
}
.date__two {
    font-size: 100px;
    line-height: 122px;
    color: #60B7D9;
    text-align: center;
}
.text__two {
    font-size: 24px;
    line-height: 29px;
    font-style: medium;
    color: #60B7D9;
    max-width: 320px;
    text-align: center;
}
.statistics__three {
}
.date__three {
    font-size: 100px;
    line-height: 122px;
    color: #60B7D9;
    text-align: center;
}
.text__three {
    font-size: 24px;
    line-height: 29px;
    font-style: medium;
    color: #60B7D9;
    max-width: 220px;
    text-align: center;
}